*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color:rgba(231, 230, 228, 0.816);
    color: black;
    overflow-x: hidden;
}
.floating-menu{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap:28px;
    background: rgba(15,23,42,0.65);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    min-width:535px;
    min-height: 50px;
    border:20px  rgba(15,23,42,.65);
    opacity: 1;
    transition: .35 ease;
    z-index: 9999;
}
.floating-menu.show{
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}
.floating-menu a{
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: antiquewhite;
}
.section{
    position: relative;
    margin-top: 5%;
}
.title{
    margin-top: 5%;

    font-size: 50px;
    font-family:cursive;
}
.page{
    width: 80%;
    height: auto;
    margin: 40px auto;
    background: white;

    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    border-radius: 12px;
    padding: 20px;
    position: relative;
    z-index: 2;
}
.side-heading{
    font-family: cursive;
    font-size: 25px;
}
.event{
    padding-top: 4px;
    padding-left: 50px;
}
.event li{
    font-family: cursive;
    font-size: medium;
}
.event p{
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    margin-bottom: 10px;
}
.event a{
    padding: 25px;
    color:goldenrod;
}